html {
    background: #202225;
    text-align: center;
    font-family: 'montserrat';
    color: #A5A6A7;
    font-size: 14px;
    line-height: 1.6;
}

@media screen and (max-width: 767px) {
    html {
        font-size: 13px;
    }
}


body {
    display: grid;
    grid-row-gap: 4em;
    margin: 37px;
    margin-top: 121px;
}



img {
    width: 160px;
    height: auto;
    margin: 0 auto;
}


.foundationLogo {
    max-width: 426.42px;
    width: 100%;
}

p {
    max-width: 571px;
    margin: 0 auto;
}
