body {
         text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: -webkit-fill-available;
}

body img {
    max-width: 325px;
    width: 100%;
}
